@import "tailwindcss";

@theme {
  --color-pink: #FF66C4;
  --color-pink-light: rgba(255, 102, 196, 0.12);
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jura', Arial, sans-serif;
}
